@import '../../../../node_modules/rupture/rupture'
@import 'imports/variables'
@import 'imports/mixins'
@import 'imports/typography'
@import 'imports/animations'
@lost flexbox flex
.default main
	margin-top 8rem
.header-anchor
	text-decoration none
	color black
	opacity .1
	display inline-block
	margin-left -1.03em
body
	margin 0
	// grid-guide(12, $gutter, $grid-width, $gutter)
*
	box-sizing border-box
